<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="equipo">
            <h2><span>Equipo</span> {{equipo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{equipo.nombre}}</span>
                </dd>
                <dt><span>Responsable</span></dt>
                <dd>
                    <span>{{equipo.responsable}}</span>
                </dd>
                <dt><span>Telefono Responsable</span></dt>
                <dd>
                    <span>{{equipo.telefonoResponsable}}</span>
                </dd>
                <dt><span>Pago</span></dt>
                <dd>
                    <span>{{equipo.pago}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/equipo', equipo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
