<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-equipo-heading">Create or edit a Equipo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                    <div *ngIf="editForm.get('nombre').invalid && (editForm.get('nombre').dirty || editForm.get('nombre').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_responsable">Responsable</label>
                    <input type="text" class="form-control" name="responsable" id="field_responsable"
                           formControlName="responsable"/>
                    <div *ngIf="editForm.get('responsable').invalid && (editForm.get('responsable').dirty || editForm.get('responsable').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('responsable').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telefonoResponsable">Telefono Responsable</label>
                    <input type="number" class="form-control" name="telefonoResponsable" id="field_telefonoResponsable"
                           formControlName="telefonoResponsable"/>
                    <div *ngIf="editForm.get('telefonoResponsable').invalid && (editForm.get('telefonoResponsable').dirty || editForm.get('telefonoResponsable').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonoResponsable').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('telefonoResponsable')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pago">Pago</label>
                    <input type="number" class="form-control" name="pago" id="field_pago"
                           formControlName="pago"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
