<div>
    <h2 id="page-heading">
        <span>Jugadors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-jugador" [routerLink]="['/jugador/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Jugador
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="jugadors?.length === 0">
        <span>No jugadors found</span>
    </div>
    <div class="table-responsive" *ngIf="jugadors?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span>Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numero"><span>Numero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="equipoId"><span>Equipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jugador of jugadors ;trackBy: trackId">
                <td><a [routerLink]="['/jugador', jugador.id, 'view' ]">{{jugador.id}}</a></td>
                <td>{{jugador.nombre}}</td>
                <td>{{jugador.numero}}</td>
                <td>
                    <div *ngIf="jugador.equipoId">
                        <a [routerLink]="['/equipo', jugador.equipoId , 'view' ]" >{{jugador.equipoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/jugador', jugador.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/jugador', jugador.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/jugador', { outlets: { popup: jugador.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="jugadors?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
