<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jugador">
            <h2><span>Jugador</span> {{jugador.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{jugador.nombre}}</span>
                </dd>
                <dt><span>Numero</span></dt>
                <dd>
                    <span>{{jugador.numero}}</span>
                </dd>
                <dt><span>Equipo</span></dt>
                <dd>
                    <div *ngIf="jugador.equipoId">
                        <a [routerLink]="['/equipo', jugador.equipoId, 'view']">{{jugador.equipoId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/jugador', jugador.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
